html {
  background-color: #f4f5f6;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  background-color: #ffffff;
  padding: 0.2rem;
  margin: 1rem 0;
  height: 85px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}

.banner-text {
  color: #00bceb;
  font-family: Cisco;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.exhibit {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 0.5rem 0;
  border-radius: 25px;
  padding: 1rem;
  width: 25%;
}
